<footer>
    <div class="box-footer">
        <h2>Endereço</h2>
        <p>Rua Apolônio Rodrigues, 1190 - Barragem, Uruguaiana/RS, 97501-971, Brasil</p>
    </div>
    <div class="box-footer-center">
        <h2>Telefone</h2>
        <p>(55)99979-0568</p>
    </div>
    <div class="social-icons icones-redes-sociais">
        <span>Redes Sociais</span>
        <div class="icones-sociais">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook icone"></i></a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram icone"></i></a>
            <a href="https://www.twitter.com/"><i class="fa fa-twitter icone"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube icone"></i></a>
        </div>
    </div>
</footer>