* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

.clear {
    clear: both;
}

.title-destaque-descricao a {
    text-decoration: none;
    color: white;
}

header {
    z-index: 999;
    width: 100%;
    position: fixed;
    background-color: #0aacdc;
    text-align: center;
}

.title-outras-noticias h2 {
    padding-top: 80px;
}

.center {
    width: 100%;
    padding: 10px 2%;
    display: flex;
}


.logo {
    text-align: left;
    width: 50%;
}

.logo h2 {
    padding-top: 5px;
    color: white;

}

.logo a {
    color: white;
    text-decoration: none;
}

nav.desktop {
    display: block;
    width: 100%;
}

nav.desktop ul {
    margin-right: 50px;
    list-style-type: none;
}

nav.desktop li {
    width: 100%;
    margin: 0 50px;
}

nav.desktop li a {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    color: white;
    text-decoration: none;
}

nav.desktop li a:hover {
    color: rgb(63, 81, 181);
}

nav.mobile {
    margin-right: 10px;
    margin-top: 8px;
    display: none;
    float: right;
}

nav.mobile ul {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 70px 0 30px 0;
    top: 0px;
    background: #31475e;
    text-align: center;
}

nav.mobile h3 {
    display: block;
    position: relative;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-size: 26px;
}

nav.mobile h3 .fa {
    font-size: 30px;
}

nav.mobile li {
    padding: 10px 0;
}

nav.mobile a {
    color: white;
    text-decoration: none;
}

.total-menu-mobile {
    z-index: 3;
    position: fixed;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 150px;
    padding-top: 6px;
    width: 100%;
    background-color: rgba(0, 139, 180, 1);
    display: none;
}

.total-menu-mobile ul {
    margin-top: 20px;
}

.total-menu-mobile li {
    padding: 8px 0;
    margin-right: 20px;
}

.total-menu-mobile a {
    color: white;
    text-decoration: none;
}

.total-menu-mobile a:hover {
    color: rgb(10, 172, 220);
}

.form-busca {
    max-width: 1200px;
    width: 30%;
    text-align: right;
}

.form-busca form {
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i {
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 20px;
}

.form-busca input {
    height: 40px;
    width: 100%;
    border: 0;
    font-size: 20px;
    color: white;
    background-color: #008bb4;
    padding-left: 40px;
    border-radius: 10px;
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

section.noticia-destaque {
    padding: 40px 20;
}

section.noticia-destaque>.center {
    padding: 24px 2%;
    width: 100%;
}



.img-destaque {
    width: 100%;
    position: relative;
}

.img-destaque img {
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);

}

.title-destaque-descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.title-destaque-descricao h2 {
    font-size: 34px;
    margin: 20px 0;
}

.title-destaque-descricao p {
    font-weight: lighter;
    font-size: 16px;
}

.overlay-destaque {
    position: absolute;
    left: 0;
    top: 0;
    /* border-radius:20px; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

section.outras-noticias {
    min-height: 750px;
    background-color: #EAEAEA;
    padding: 30px 20px;
    text-align: center;
}

section.outras-noticias h2 {
    font-size: 54px;
}

.ultimas {
    width: 60%;
    padding: 0 10px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;

}

.box-ultima-single {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    text-align: left;
    width: 48%;
    margin-right: 2%;
    background-color: white;
    height: 100%;
    margin-bottom: 20px;
}

.box-ultima-single img {
    width: 100%;
    height: 200px;
}

.box-ultima-single h3 {
    font-size: 16px;
    color: #33439B;
    margin: 20px 0;
}

.box-ultima-single h2 {
    color: #303336;
    font-size: 18px !important;
}


.box-ultima-single p {
    color: #7B8591;
    font-size: 16px;
    margin: 20px 0;
}

.box-ultima-single a {
    background-color: #0AACDC;
    display: block;
    width: 120px;
    height: 40px;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
}

.box-ultima-single a:hover {
    background-color: rgb(0, 139, 180);
    font-size: 19px;
}

.box-depoimento {
    width: 30%;
    padding: 0 10px;
    display: flex;
    max-height: 300px;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 5px;
}

.conteudo-noticia-single {
    padding: 20px;
}


.mais-lidas {
    margin-bottom: 20px;
    width: 40%;
    height: 100%;
    background-color: white;
}


.mais-lidas>h3 {
    background-color: rgb(0, 139, 180);
    color: white;
    text-align: center;
    padding: 10px 8px;
    /* border-top-left-radius: 10px;
      border-top-right-radius: 10px; */
}

.mais-lidas-noticias {
    margin-bottom: -15px;
}

.mais-lida-noticia-single {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.mais-lida-noticia-single img {
    width: 30%;
}

.mais-lida-noticia-single .texto-mais-lida-single {
    width: 70%;
    padding: 30px 20px;

}

.texto-mais-lida-single h4 {
    color: black;
    letter-spacing: 3.2px;
}

.texto-mais-lida-single p {
    color: black;
    font-size: 14px;
}

.texto-mais-lida-single a {
    background-color: rgb(10, 172, 220);
    margin-top: 10px;
    display: block;
    width: 121px;
    height: 36px;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    margin-bottom: -24px;
}

.space-servico {
    width: 100%;
    background-color: #EAEAEA;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
}

.box-servico {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box-servico img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.texto-mais-lida-single a:hover {
    background-color: rgb(0, 139, 180);
    font-size: 16px;
}

/* footer */

footer {
    background-color: rgb(10, 172, 220);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    color: white;
}


.box-footer {
    float: left;
    width: 33.3%;
    padding: 30px 15px;
}

.box-footer h2 {
    font-size: 22px;
    font-weight: normal;
}

.box-footer-center {
    text-align: center;
    width: 33.3%;
    padding: 30px 15px;
}

.icones-redes-sociais {
    display: flex;
    height: 100%;
    width: 33.3%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 15px;
}

.icones-sociais {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 10px;
    width: 100%;
}

.icones-redes-sociais span {
    font-size: 20px;
    margin-right: 40px;
}

.icones-sociais a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 6px;
    margin-top: 5%;
}

.icones-sociais .icone {
    font-size: 40px;
}

section.noticia {
    padding: 112px 0;
    background-color: #EAEAEA;
}

.noticia-single {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 58%;
    margin-right: 2%;
    max-height: 800px;
}

.noticia-single img {
    width: 100%;
    height: 480px;
}

.noticia-single h2 {
    color: #303336;
    font-size: 42px;
    margin: 10px 0;
}

.noticia-single span {
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 13px;
    color: #858585;
    font-weight: bold;
}

.noticia-single p {
    color: #7B8591;
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
}

.noticia-single h3 {
    color: #7B8591;
    font-size: 33px;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .center {
        display: flex;
        flex-direction: column;
        /* height: 50px; */
        justify-content: center;
    }

    div.noticia-single {
        height: 800px;
        width: 100%;
        margin-bottom: 50px;
    }

    nav.desktop {
        display: none;

    }

    nav.mobile {
        display: block;
        margin-top: -25px;
        margin-left: 44%;
        width: 50px;
    }

    .total-menu-mobile {
        margin-top: 56px;
        height: 190px;
    }

    .total-menu-mobile li {
        display: block;
        margin-top: 10px;
    }

    .title-destaque-descricao h2 {
        font-size: 30px;
        margin: 20px 0;
    }

    .mais-lidas,
    .ultimas {
        width: 100%;
        margin-bottom: 20px;
    }

    .box-ultima-single {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .form-busca {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        margin-top: -35px;
    }

    header {
        height: 56px;
    }

    .logo {
        z-index: 999;
        width: 100px;
    }

    .img-destaque {
        width: 100%;
        height: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .overlay-destaque {
        width: 100%;
    }

    .noticia-destaque {
        display: block;
        margin: 0;
        padding: 0;
    }

    .container .box-depoimento {
        width: 60%;
        margin-right: 10px;
        margin-top: 30px;
    }

    section.servicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.servicos .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 602px) {
    nav.mobile {
        margin-left: 42%;
    }

    .icones-sociais a {
        font-size: 20px;
        height: 25px;
        width: 25px;
    }

    .icones-sociais a .fa {
        font-size: 30px;
    }

    .icones-sociais {
        margin-top: 15%;
    }

    section.noticia-destaque {
        padding: 40px 0;

    }

    .img-destaque {
        width: 100%;
        height: auto;
        margin-left: 1px;
        margin-right: 1px;
    }

}

@media screen and (max-width: 500px) {
    div.noticia-single {
        height: 800px;
        width: 100%;
        margin-bottom: 50px;
    }

    .center h2 {
        font-size: 18px;
        margin-top: 5px;
    }

    input.busca {
        display: block;
        padding-left: 30px;
        margin-top: 12px;
        width: 50%;
        height: 25px;
    }

    form.form-busca-form {
        float: right;
        margin-right: -100px;
    }

    input.busca::placeholder {
        font-size: 16px;
    }

    i.fa-search {
        font-size: 16px;
        left: 2%;
        top: 40%;
    }

    section.outras-noticias {
        min-height: 680px;
    }

    div.icones-sociais span {
        margin-top: 30%;
    }

    .icones-redes-sociais {
        margin-top: 40px;
        margin-right: 10px;
    }

    .icones-sociais a {
        margin-left: 0;
    }

    .container {
        padding: 10px 2%;
    }

    div.alguns-comentarios-sobre h1 {
        font-size: 20px;
    }

    div.texto-sobre>img {
        height: 150px;
        width: 150px;
    }

    div.texto-sobre2>img {
        height: 150px;
        width: 150px;
    }

    div.espaco-para-texto-sobre p {
        font-size: 15px;
        padding: 10px 2%;
    }

    div.title-destaque-descricao p {
        font-size: 12px;
        padding: 5px 2%;
    }

    div.title-destaque-descricao h2 {
        font-size: 15px;
        padding: 5px 2%;
        margin-bottom: -2px;
    }

    div.comentario-imagem-alguem {
        margin-right: 10px;
        text-align: center;
    }

    div.title-outras-noticia h2 {
        font-size: 25px;
    }

    div.conteudo-noticia-single h3 {
        font-size: 22px;
    }

    div.conteudo-noticia-single p {
        font-size: 15px;
    }

    div.autor-imagem img {
        height: 300px;
    }

    div.box-depoimento {
        max-height: 300px;
    }

    div.box-depoimento p {
        font-size: 15px;
    }

    b {
        font-size: 14px;
    }

    div.logo span {
        font-size: 16px;
    }

}



@media screen and (max-width: 380px) {
    .noticia-single {
        width: 100%;
        margin-bottom: 50px;
    }

    .center h2 {
        font-size: 14px;
        margin-top: 5px;
    }

    input.busca {
        font-size: 14px;
        padding-left: 30px;
        margin-top: 13px;
        width: 50%;
        height: 25px;
    }

    input.busca::placeholder {
        font-size: 14px;
    }

    i.fa-search {
        font-size: 14px;
        left: 3%;
        top: 48%;
    }

    section.outras-noticias {
        min-height: 680px;
    }

    div.icones-sociais span {
        margin-top: -20px;
        font-size: 15px;
    }

    .icones-redes-sociais {
        width: 50px;
        margin-top: 80px;
        height: 100px;
    }

    .icones-sociais a {
        margin-left: 16px;
    }

    .icones-sociais a .fa {
        font-size: 18px;
    }

    div.box-depoimento p {
        font-size: 12px;
    }

    div.box-depoimento b {
        font-size: 10px;
    }

    div.box-servico-wraper h2 {
        font-size: 12px;
    }

    div.box-servico-wraper p {
        font-size: 12px;
    }

    div.box-servico img {
        width: 250px;
    }

    div.space-servico {
        margin-left: 8%;
    }

    section.section-sobre img {
        width: 100%;
        margin-right: 1%;
    }

    section.section-sobre2 img {
        width: 100%;
        margin-right: 1%;
    }

    div.title-servicos h3 {
        font-size: 15px;
    }

    div.empresa-single p {
        font-size: 10px;
    }
}


/* Página sobre */

.autor-sobre {
    display: block;
    box-shadow: 0px 15px 10px rgb(39, 39, 39);
    margin: 15px 2%;
    color: white;
    background-color: rgb(100, 92, 143);
    padding: 20px 20px;
    text-align: center;
}

section.section-sobre {
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    float: left;
    height: 400px;
    border: 5px solid #EBEBEB;
    width: 50%;
    background-color: rgb(100, 92, 143);
    padding: 30px 20px;
    text-align: center;
}

section.texto-sobre {
    display: block;
    width: 100%;
}

div.texto-sobre p {
    padding: 20px 0;
}

section.section-sobre2 {
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    float: right;
    height: 400px;
    border: 5px solid #EBEBEB;
    width: 50%;
    background-color: rgb(100, 92, 143);
    padding: 30px 20px;
    text-align: center;
}

section.texto-sobre2 {
    display: block;
    width: 100%;
}


div.texto-sobre2 p {
    padding: 20px 0;
}

section.comentarios-sobre {
    padding: 20px 2%;
}

.alguns-comentarios-sobre h1 {
    padding: 10px 2%;
    color: rgb(95, 92, 92);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-style: lighter;
}

.espaco-para-texto-sobre {
    margin-top: 10px;
    text-align: center;
    border: 1px solid #c0bfbf;
    padding: 20px 2%;
}

.comentario-alguem {
    background-color: rgba(10, 172, 220, 0.1);
    box-shadow: 0px 10px 20px rgb(39, 39, 39);
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #c0bfbf;
}

.imagem-alguem {
    margin-left: 10%;
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: -90px;
    border: 1px solid #c0bfbf;
    background-image: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 20px rgb(39, 39, 39);
}

.comentario-imagem-alguem {
    box-shadow: 0px 10px 20px rgb(39, 39, 39);
    border-radius: 4px;
    color: white;
    background-color: #008bb4;
    float: right;
    width: 55%;
    border: 1px solid #e8e5e5;
    margin-bottom: 10px;
}

.comentario-imagem-alguem h1 {
    padding: 10px 2%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comentario-imagem-alguem p {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 2%;
}

.imagem-alguem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* formulário página contato*/

section.formulario {
    margin: 100px 10%;
    border: 1px solid #afaaaa;
    padding: 30px 20px;
}

section.formulario h2 {
    margin-left: 32px;
    margin-bottom: 28px;
    font-weight: normal;
    color: #31475e;
}

section.formulario span {
    margin-left: 32px;
    margin-bottom: 28px;
    font-weight: normal;
    color: #31475e;
}

.titulo-formulario-contato {
    text-align: center;
    padding-top: 150px;
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    margin-bottom: -70px;
}

section.formulario form {
    margin-top: 10px;
}

section.formulario>.container {
    max-width: 960px;
}

.container-portifolio {
    max-width: 960px;
    margin-bottom: 100px;
    margin: 20 2%;
}

section.formulario input::placeholder {
    color: #858585;
}

section.formulario textarea::placeholder {
    color: #858585;
}

section.formulario input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #bcb9b9;
    margin-top: 8px;
    padding-left: 10px;
}

section.formulario input[type=text]:hover {
    background-color: rgba(10, 172, 220, 0.1);
}


section.formulario input[type=text]:focus {
    outline: 0;
}

section.formulario textarea {
    outline: none;
    width: 100%;
    height: 120px;
    resize: vertical;
    border-radius: 20px;
    border: 1px solid #b8b7b7;
    margin-top: 8px;
    padding: 10px;
}

section.formulario textarea:hover {
    background-color: rgba(10, 172, 220, 0.1);
}

section.formulario input[type=submit] {
    font-size: 18px;
    width: 130px;
    height: 38px;
    color: white;
    cursor: pointer;
    border: 0;
    margin-top: 20px;
    border-radius: 100px;
    background-color: rgb(10, 172, 220);
    box-shadow: 0 8px 20px 0 black;
}

section.formulario input[type=submit]:hover {
    background-color: rgb(17, 130, 164);
    font-size: 22px;
}

/* pagina serviços */

section.descricao-danki {
    border: 1px solid #afaaaa;
    text-align: center;
    padding: 100px 0;
}

section.descricao-danki p {
    display: inline-block;
    max-width: 680px;
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
}

section.descricao-danki2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

section.descricao-danki2>.container {
    max-width: 960px;
}

section.descricao-danki2>.container .texto-descricao {
    padding: 0 15px;
    text-align: center;
}

section.descricao-danki2>.container .texto-descricao h3 {
    color: #31475e;
    font-size: 19px;
    line-height: 32px;
    font-weight: normal;
}


section.descricao-danki2>.container .texto-descricao p {
    margin-top: 15px;
    color: #6a7c92;
    font-size: 15px;
    line-height: 25px;
}

section.descricao-danki2 .container img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

section.descricao-danki3 {
    border: 1px solid #afaaaa;
    padding: 30px 0 60px 0;
}

section.descricao-danki3>.container {
    max-width: 960px;
    background-image: url('../public/images/noticia.png');
    background-size: cover;
    min-height: 350px;
    position: relative;
    margin-left: 20px;
}

.box-depoimento {
    border: 1px solid #afaaaa;
    float: right;
    z-index: 999;
    margin-right: 5%;
    margin-top: 100px;
    width: 50%;
    max-width: 506px;
    background: white;
    padding: 40px;
    box-shadow: 0 8px 20px 10px rgba(19, 18, 18, 0.5);
}

.box-depoimento p {
    font-size: 18px;
    color: #31475e;
    font-weight: lighter;
}

section.servicos {
    border: 1px solid #afaaaa;
    padding: 25px 0;
}

section.servicos>.container {
    /* max-width: 1100px; */
    margin-left: 2%;
    margin-right: 2%;
}

.title-servicos {
    text-align: center;
}

.title-servicos h3 {
    color: #31475e;
    font-size: 22px;
    font-weight: normal;
}

.fa {
    font-size: 50px;
}

.flex-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.space-servico {
    box-shadow: 0 8px 20px 0 rgba(72, 70, 70, 0.5);
    border: 1px solid #d6d2d2;
    display: flex;
    width: 33.3%;
}

.box-servico {
    background-color: #ffffff;
    background: white;
    height: 100%;
}

.box-servico img {
    width: 100%;
}

.box-servico-wraper {
    padding: 20px;
}

.box-servico-wraper h2 {
    color: #31475e;
    font-size: 20px;
    font-weight: normal;
}

.box-servico-wraper p {
    margin: 8px 0;
    line-height: 1.6;
    font-weight: lighter;
    color: #6a7c92;
    font-size: 15px;
}

.box-servico-wraper a {
    background-color: rgb(13, 80, 161);
    display: inline-block;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 12px;
    transition: all 0.3s ease;
    margin-top: 2%;
    margin-bottom: -2%;
}

.box-servico-wraper a:hover {
    background-color: rgb(17, 130, 164);
}

section.portfolio {
    padding: 20px 0;
    background: white;
}

section.portfolio h2 {
    text-align: center;
    font-weight: normal;
    color: #31475e;
}

section.portfolio>.container {
    box-shadow: 0 20px 20px 10px rgba(83, 81, 81, 0.5);
    max-width: 960px;
    padding: 15px 0;
    background-color: #f7f7f7;
}

.empresas {
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.empresa-single {
    box-shadow: 0 5px 10px 5px rgba(192, 190, 190, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: solid;
    border-color: #ececec;
    border-width: 1px 0 1px 1px;
    width: 25%;
    padding: 10px 0;
}

.empresas .empresa-single:last-child {
    border: 1px solid #ececec;
}

.empresa-single {
    width: 100%;
    margin: 15px auto;
    max-width: 640px;
    border: 1px solid #ececec;
}

.empresa-single p {
    box-shadow: 0 5px 10px 5px rgba(171, 167, 167, 0.5);
    border: 1px solid #c3c2c2;
    font-size: 14px;
    color: #6a7c92;
    font-weight: lighter;
    margin: 10px 2%;
    padding: 5px 5px;
}

.empresa-single img {
    margin-left: 10px;
}

.space-servico {
    padding: 10px;
    margin: 10 0;
    max-width: 400px;
    width: 100%;
}

.texto-descricao {
    width: 100%;
    display: block;
    float: none;
}

section.descricao-danki2 img {
    width: 100%;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    max-width: 500px;
}


@media screen and (max-width: 580px) {
    .box-depoimento {
        padding: 20px;
    }
}

@media screen and (max-width: 850px) {
    .space-servico {
        display: block;
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
    }
}